@import "tailwindcss";

:root {
  --background: #0d0f12;
  --surface: #13161a;
  --surface-elevated: #191d22;

  --border: #292e35;
  --border-subtle: #20242a;

  --text-primary: #f5f7fa;
  --text-secondary: #b4bbc5;
  --text-muted: #737c88;

  --primary: #1683ff;
  --primary-hover: #3b98ff;
  --accent: #16efff;

  --success: #35d07f;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
}
/* Hide native scrollbar */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
